graph {
    fill-color: rgb(226, 237, 255);
    padding: 100px;
}
node {
    size: 50px;
    shadow-mode: gradient-radial;
    shadow-color: rgb(0, 39, 104), rgb(226, 237, 255);
    fill-color: rgb(127, 127, 127);
    text-background-mode: plain;
    text-background-color: rgba(226, 237, 255, 128);
    stroke-mode: plain;
    stroke-width: 10px;
    text-size: 28;
    text-style: bold;
    text-alignment: above;
}
node.nbsc {
    fill-color: #cc241d;
    stroke-color: #2a5f88;
}
node.scnb {
    fill-color: #2a5f88;
    stroke-color: #cc241d;
}
node.nbc {
    fill-color: #cc241d;
    stroke-color: #d79921;
}
node.nbd {
    fill-color: #8ec07c;
    stroke-color: #cc241d;
}
node.sclp {
    fill-color: #2a5f88;
    stroke-color: #000000;
}
node.scd {
    fill-color: #8ec07c;
    stroke-color: #2a5f88;
}
node.lpc {
    fill-color: #d79921;
    stroke-color: #000000;
}
node.nb {
    fill-color: #cc241d;
    stroke-color: #cc241d;
}
node.sc {
    fill-color: #2a5f88;
    stroke-color: #2a5f88;
}
node.c {
    fill-color: #d79921;
    stroke-color: #d79921;
}
node.d {
    fill-color: #8ec07c;
    stroke-color: #8ec07c;
}
node.lp {
    fill-color: #282828;
    stroke-color: #282828;
}
edge {
    shape: line;
    size: 3px;
    fill-color: #b16286;
}
edge.similar {
    fill-color: #928374;
}
edge.area {
    fill-color: rgb(35, 2, 0);
}