graph {
    fill-color: rgb(226, 237, 255);
}
node {
    size: 30px;
    shadow-mode: gradient-radial;
    shadow-color: rgb(0, 39, 104), rgb(226, 237, 255);
    fill-color: rgb(127, 127, 127);
    text-background-mode: plain;
    text-background-color: rgb(226, 237, 255);
    text-size: 16;
    text-style: bold;
    text-alignment: above;
}
node.nbsc {
    fill-color: rgb(125, 0, 200);
}
node.nbc {
    fill-color: rgb(0, 152, 0);
}
node.nbd {
    fill-color: rgb(67, 170, 255);
}
node.sclp {
    fill-color: rgb(145, 9, 0);
}
node.scd {
    fill-color: rgb(255, 115, 240);
}
node.lpc {
    fill-color: rgb(180, 172, 0);
}
node.nb {
    fill-color: rgb(0, 0, 220);
}
node.sc {
    fill-color: rgb(220, 0, 0);
}
node.c {
    fill-color: rgb(237, 229, 52);
}
node.d {
    fill-color: rgb(255, 255, 255);
}
node.lp {
    fill-color: rgb(0, 0, 0);
}
edge {
    shape: line;
    size: 3px;
    fill-color: rgb(84, 0, 8);
}
edge.similar {
    fill-color: rgb(0, 0, 131);
}
edge.area {
    fill-color: rgb(35, 2, 0);
}